.diagnostico-section {
    width: 100%;
    position: relative;
    z-index: 10;
}

.diagnostico-section .folder-wrapper {
    margin-top: 80px;
}

.folder-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.folder-content {
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 32px;
    border-top-right-radius: 0;
    padding: 80px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* --- Lado Esquerdo (Textos) --- */
.diag-text {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-bottom: -20px;
}

.diag-text h2 {
    color: #ffffff;
    font-family: 'StevieSansBlack';
    font-size: 30px;
    letter-spacing: -4%;
    margin: 0;
}

.destaque-laranja {
    color: #ff9300;
    font-family: 'StevieSansBlack';
    font-size: 122px;
    letter-spacing: -4%;
    margin: -5px 0 15px 0;
}

.diag-text p {
    color: #ffffff;
    font-family: 'StevieSansBook';
    font-size: 26px;
    line-height: 1.4;
    margin: 0;
}

/* --- Lado Direito (Grid Laranja) --- */
.diag-grid {
    flex: 1.2;
    display: grid;

    grid-template-columns: 403px 403px;

    gap: 30px;
    align-content: start;

}

.diag-grid .info-card:nth-child(1) {
    border-radius: 0px 16px 16px 16px;
}

.diag-grid .info-card:nth-child(1) p {
    font-size: 33px;
}

.diag-grid .info-card:nth-child(2) {
    border-radius: 16px 0px 16px 16px;
}

.diag-grid .info-card:nth-child(2) p {
    font-size: 33px;
}

.diag-grid .info-card:nth-child(3) {
    border-radius: 16px 16px 16px 0px;
}

.diag-grid .info-card:nth-child(4) {
    border-radius: 16px 16px 0px 16px;
}

.diag-grid .info-card:nth-child(3) p {
    font-size: 20px;
}

.diag-grid .info-card:nth-child(4) p {
    font-size: 20px;
}

.info-card {
    background: linear-gradient(135deg, #FF9D00 0%, #FE7800 100%);
    padding: 25px;
    width: 403px;
    height: 253px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease;
}

.info-card:hover {
    transform: translateY(4px);
    transform: translateX(4px);
}

.info-card h3 {
    color: #ffffff;
    font-family: 'StevieSansBlack';
    font-size: 34px;
    letter-spacing: -4%;
    padding-bottom: 5px;
    margin: 0;
}

.info-card p {
    color: #ffffff;
    font-family: 'StevieSansBook';
    font-size: 27px;
    margin: 0;
}