.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.navbar::before {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding-right: 2.51px;
    padding-bottom: 2.51px;
    background: linear-gradient(to right, transparent 0%, transparent 40%, rgba(255, 255, 255, 0.2) 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.nav-container {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px;
}

.nav-text {
    color: #ffffff;
    font-family: 'StevieSansBlack';
    font-weight: 400;
    font-size: 16px;
    flex: 1;
    text-align: center;
    margin: 0 20px;
}