
@media (max-width: 1520px) {
    #cluster-1 {
        transform: scale(1.7);
    }

    #cluster-4 {
        transform: scale(2);
    }

    .folder-content {
        flex-direction: column;
    }

    .diag-text {
        margin-right: 300px;
        max-width: fit-content;
    }

    .resultados-topo {
        flex-direction: column;
    }

    .resultados-wrapper {
        margin-top: 30px;
    }

    .carrossel-container {
        margin-left: 0;
    }

    .sobre-logo {
        display: none;
    }

    .sobre-topo {
        justify-content: center;
    }

    .sobre-card {
        gap: 40px;
    }

    .motivos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1280px) {
    #cluster-1 {
        transform: scale(1.5);
    }

    #cluster-4 {
        transform: scale(1.7);
    }
}

@media (max-width: 1200px) {
    .hero-container {
        gap: 0;
        justify-content: center;
    }

    .hero-illustration {
        position: absolute;
        right: 0;
        width: 35vw;
        margin-bottom: 120px;
    }

    .hero-container {
        justify-content: center;
    }

    #cluster-1 {
        left: -30vw;
    }

    #cluster-4 {
        top: -5%;
        right: -45vw;
    }

    .diag-text h2 {
        font-size: 30px;
    }
}

@media (max-width: 1100px) {
    .diag-text {
        margin: 0 115px -20px 0;
    }
}

@media (max-width: 980px) {
    .folder-wrapper {
        padding: 0;
    }

    .sobre-card {
        padding: 50px 40px 120px 40px;
        gap: 35px;
    }

    .sobre-text h3 {
        font-size: 28px;
    }

    .sobre-text h2 {
        font-size: 53px;
    }

    .sobre-text p {
        font-size: 19px;
    }

    .motivos-box {
        padding: 40px 35px;
        gap: 32px;
    }

    .motivos-box h2 {
        font-size: 43px;
    }

    .motivo-item p {
        font-size: 16px;
    }

    .btn-black {
        font-size: 18px;
        padding: 14px 28px;
    }
}

@media (max-width: 920px) {
    #cluster-1 {
        left: -60vw;
    }

    #cluster-4 {
        top: -5%;
        right: -65vw;
    }

    .nav-container {
        padding: 0;
    }

}

/* --------------------------------------
   DESKTOP (Telas a partir de 992px)
-------------------------------------- */
/* ========================================
   SEÇÃO SÓCIOS - GRID RESPONSIVO
======================================== */

.socios-lista {
    display: flex;
    flex-direction: column;
    gap: 60px; /* Distância entre os sócios no mobile */
    width: 100%;
}

.socio-item {
    display: grid;
    width: 100%;
}

/* Estilos Globais de Texto e Imagem */
.socio-nome {
    font-family: 'StevieSansBlack';
    color: #ff9300;
    margin: 0;
    line-height: 1;
    letter-spacing: -2%;
}

.socio-desc {
    font-family: 'StevieSansBook';
    color: #ffffff;
    line-height: 1.5;
    margin: 0;
    opacity: 0.9;
}

.socio-foto {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center top;
}





/* --------------------------------------
   DESKTOP (Telas a partir de 992px)
-------------------------------------- */
@media (min-width: 992px) {
    
    .socios-lista { gap: 100px; }

    /* INVERTE A ORDEM NO DESKTOP (Yan em cima, Paulo embaixo) */
    .socio-yan { order: 1; }
    .socio-paulo { order: 2; }

    /* Yan - Desktop: Foto Gigante Esquerda, Textos Direita */
    .socio-yan {
        grid-template-columns: 320px 1fr;
        grid-template-areas:
            "foto nome"
            "foto desc";
        gap: 20px 60px;
    }
    .socio-yan .socio-nome { text-align: right; align-self: end; font-size: 90px; }
    .socio-yan .socio-desc { text-align: right; align-self: start; font-size: 27px; }

    /* Paulo - Desktop: Textos Esquerda, Foto Gigante Direita */
    .socio-paulo {
        grid-template-columns: 1fr 320px;
        grid-template-areas:
            "nome foto"
            "desc foto";
        gap: 20px 60px;
    }
    .socio-paulo .socio-nome { text-align: left; align-self: end; font-size: 90px; }
    .socio-paulo .socio-desc { text-align: left; align-self: start; font-size: 27px; }
}

@media (max-width: 880px) {
    #cluster-1 {
        top: 650px;
    }

    .diagnostico-section .folder-wrapper {
        margin-top: 25px;
    }

    .resultados-wrapper {
        margin-top: 80px;
    }

    .diag-text h2 {
        font-size: 12px;
    }

    .destaque-laranja {
        font-size: 50px;
    }

    .diag-text p {
        font-size: 11px;
    }

    .folder-content {
        padding: 36px 25px;
    }

    .info-card {
        width: 152px;
        height: 80px;
        padding: 12px;
        gap: 0;
    }

    .diag-grid {
        grid-template-columns: 183px 151px;
        gap: 12px;
    }

    .info-card h3 {
        font-size: 10px;
    }

    .info-card p {
        font-size: 8px !important;
    }

    .diag-grid .info-card:nth-child(3) p,
    .diag-grid .info-card:nth-child(4) p {
        font-size: 7px;
    }
}

@media (max-width: 1080px) {

    .folder-wrapper {
        margin-top: 68px;
    }
    
    .resultados-card {
        padding: 50px 40px;
    }

    .resultados-titulo h2 {
        font-size: 55px;
    }

    .ampersand {
        font-size: 120px;
        right: -50px;
    }

    .socios-card {
        padding: 50px;
    }

    .socios-titulo {
        font-size: 60px;
    }

    .socio-info h3 {
        font-size: 35px;
    }

    .footer-section {
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
    }
}

@media (max-width: 768px) {
    .nav-text {
        font-size: 10px;
        line-height: 1.4;
    }

    #cluster-1 {
        left: -65vw;
        transform: scale(1.2);
    }

    #cluster-4 {
        top: -5%;
        right: -70vw;
        transform: scale(1.5);
    }

    .hero-card h2 {
        font-size: 20px;
    }

    .glow-text {
        font-size: 55px;
    }

    .hero-card p {
        font-size: 15px;
    }

    .cta-button {
        font-size: 16px;
    }

    .disclaimer {
        font-size: 7px;
    }

    .hero-container {
        padding: 0 15px;
    }

    .hero-card {
        max-width: 420px;
        padding: 40px 0px 40px 30px;
    }

    .glow-text {
        margin-left: 0;
    }

    .hero-card p {
        margin-left: 0;
    }

    .cta-button {
        margin-left: 0;
    }

    .carrossel-container {
        max-width: 370px;
        min-height: 150px;
    }

    .contatos-row {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
}

@media (max-width: 580px) {
    #cluster-1 {
        transform: scale(0.8);
    }

    .folder-wrapper {
        padding: 0;
    }

    .folder-card-mascarado {
        padding: 0;
    }

    .sobre-section {
        margin-top: 30px;
    }

    #cluster-4 {
        top: -5%;
        transform: scale(0.9);
    }

    .logo img {
        height: 70px;
    }

    .nav-text {
        margin-left: -5px;
        margin-right: 40px;
    }

    .resultados-wrapper {
        padding: 0 20px;
    }

    .resultados-card {
        padding: 40px 20px;
        border-radius: 24px;
    }

    .resultados-titulo h2 {
        font-size: 45px;
    }

    .ampersand {
        font-size: 100px;
        right: -40px;
    }

    .carrossel-container {
        min-height: 250px;
    }

    .brancos-grid {
        gap: 20px;
    }
    
    .sobre-card {
        padding: 50px 20px 120px 20px;
        gap: 35px;
    }

    .sobre-text h3 {
        font-size: 30px;
    }

    .sobre-text h2 {
        font-size: 49px;
    }

    .sobre-text p {
        font-size: 14px;
    }

    .motivos-box {
        padding: 30px 25px;
        gap: 16px;
    }

    .motivos-box h2 {
        font-size: 29px;
    }

    .motivo-item p {
        font-size: 13px;
    }

    .btn-black {
        font-size: 18px;
        padding: 14px 28px;
    }

    .socios-card {
        padding: 40px 20px;
        border-radius: 24px;
    }

    .socios-titulo {
        font-size: 45px;
        margin-bottom: 30px;
    }

    .socio-info h3 {
        font-size: 30px;
    }

    .socio-info p {
        font-size: 16px;
    }

    .socio-yan .socio-desc{
        text-align: right;
        padding: 10px 0px;
    }

    .footer-section {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: 40px 20px 30px;
    }

    .footer-container h2 {
        font-size: 24px;
        text-align: center;
    }

    .modal-box {
        padding: 40px 25px;
    }

    .modal-actions {
        flex-direction: column-reverse;
    }
}

@media (max-width: 400px) {
    #cluster-1 {
        left: -95vw;
    }

    #cluster-4 {
        right: -100vw;
    }

    .diag-text {
        margin: 0 90px -20px 0;
    }
}

@media (min-width: 2330px) {
    #cluster-1,
    #cluster-4 {
        transform: scale(3.2);
    }
}

@media (min-width: 2840px) {
    #cluster-1,
    #cluster-4 {
        transform: scale(3.8);
    }
}